.Media{
    background-color: white;
    height: 300px !important;
    overflow: hidden;
}

.MediaCaption{
    text-overflow: ellipsis;
    text-align:center;
    position: absolute;
    bottom: 0;

    background-color: black;
    color: white;
    opacity: 0.8;
    width: 100%;
    height: 10%;
}