*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.AppBar{
flex:1;
display: flex;
background: rgb(241, 255, 39) !important;
height: 10vh !important;
/* width: 100vw !important; */
}

.HomeBtts{
flex:1;
display:flex;
}

.LoginBtts{
  flex: 0;
  display: flex;
}

.NavButtons{
  color:black;
  font-weight: 550 !important;
}

.divbg{
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.divroutes{
  background-color: black;
  background-image: url('../images/img2.jpg') ;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}

.InputCad{
  width: 100%;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.formulariocad{
  margin-top: 40px;
  padding: 10px;
}

.h1tchau{
  margin-top: 50px;
  font-style: italic;
  text-align: center;
  color: white;
  text-shadow: 2px 2px #ff0000
}

.dadosusr{
  margin-top: 50px;
  margin-left:150px;
  text-align: left;
  color: white;
  text-shadow: 2px 2px brown;
}
